
main {
    width: 100%;
    margin-top: 50px;
    background-color: white;
    padding: 25px 0 0;
}

.mainside {
    width: 1060px;
    height: auto;
    background-color: white;
    margin: 0 auto;
}

.maincareer {
    text-align: center;
    padding-top: 30px;
    padding-bottom : 30px;
}

.careerinsite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
}

.careerinsite_text h2 {
    font-size: 22px;
    line-height: 1.33;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.careerinsite_img button {
    display: flex;
    align-items: center;
    padding-left: 5px;
}


.insitewrap {
    align-items: center;
    height: 100%;
}

.insiteview {
    width: 1012px;
    height: 40.5px;
    margin: 30px 0;
}

/* .insitemenu_view {
    width:1060px;
    height:1020.06px;
    margin: 0 0 50px;
    display: grid;
	grid-template-columns: repeat(4, 250px);
	grid-template-rows: repeat(3, 318.69px);
    column-gap: 20px;
    row-gap: 15px;
}

.insitemenu_view > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height:318.69px;
} */

.swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide {
    width: auto;
    height: 40px;
}

.swiper-slide span {
    display: block;
    padding: 0 22px;
    border: 1px solid #e1e2e3;
    border-radius: 25px;
    color: #8a8a8a;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    cursor: pointer;
}

.swiper-slide span:hover {
    background: rgba(0, 0, 0, 0.06);
}

.swiper-arrow {
    display: flex;
    align-items: center;
    top: 22px;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
}

.swiper-arrow:after {
    display: none;
}

.swiper-arrow svg {
    width: 1em;
    height: 1em;
    margin: 0 auto;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.insitemenu_view {
    display: block;
    width: auto;
    margin-right: -15px;
    font-size: 0;
}

.insitemenu_view>li {
    display: inline-block;
    width: 25%;
    padding: 0 15px 10px 0;
    vertical-align: top;
}

.insitemenu_view>li .box .img {
    overflow: hidden;
    position: relative;
    height: auto;
    padding-bottom: 70%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.insitemenu_view>li .box .img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
}

.insitemenu_view>li .box .info {
    margin-top: 12px;
}

.insitemenu_view>li .box .subject {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #171717;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}

.insitemenu_view>li .box .summary {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
    color: #8a8a8a;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
}

.insitemenu_view>li .box .icon {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.insitemenu_view>li .box .icon .img_icon img {
    width: 24px;
    height: 24px;
}

.insitemenu_view>li .box .icon .icon_name {
    padding-left: 5px;
    color: #8a8a8a;
    font-size: 12px;
}

.swiper-arrow {
    display: flex;
    align-items: center;
    top: 22px;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
}

.swiper-arrow:after {
    display: none;
}

.swiper-arrow svg {
    width: 1em;
    height: 1em;
    margin: 0 auto;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.btn {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.more_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 345px;
    height: 50px;
    border: 1px solid #e1e2e3;
    border-radius: 25px;
    margin: 0 auto;
    color: #171717;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}

.more_btn span {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.more_btn span svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

.wrap_inner {
    width: 1060px;
    margin: 0 auto;
}

.mid_bnr {
    position: relative;
    margin: 60px 0 120px;
    padding: 28px 0 22px 120px;
    background: #0d99ff;
    background-image: url('https://static.wanted.co.kr/images/type-test/typetest-banner-image.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;
    border-radius: 10px;
}

.mid_bnr:after {
    display: block;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e2e3;
    content: '';
}

.mid_bnr>p {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
}

.mid_bnr>span {
    height: 32px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.cont_bnr {
    padding: 21px 30px;
    background-image: linear-gradient(90deg, #01a9fe -12%, #2f5fef 37%, #046afe 72%, #00d2dd 110%);
    border-radius: 38.5px;
    text-align: center;
}

.cont_bnr>p {
    color: #fff;
    font-size: 17px;
    font-weight: 800;
}

.main_event {
    padding: 60px 0;
    border-bottom: 1px solid #e1e2e3;
}

.main_event .title_section {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.main_event .title_section>h3 {
    color: #333;
    font-size: 22px;
}

.main_event .title_section>p {
    color: #8a8a8a;
    font-size: 15px;
}

.main_event .event_list .img {
    overflow: hidden;
    position: relative;
    height: auto;
    padding-bottom: 52.3%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.main_event .event_list .img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
}

.main_event .event_list .info {
    margin-top: 12px;
}

.main_event .event_list .info .icon {
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 11px;
    font-weight: 700;
    padding: 0 6px;
    line-height: 20px;
}

.main_event .event_list .info .icon.green {
    border-color: #08ba9c;
    color: #08ba9c;
}

.main_event .event_list .info .icon.orange {
    border-color: #ff9100;
    color: #ff9100;
}

.main_event .event_list .info .subject {
    margin-top: 8px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.main_event .event_list .info .date {
    margin-top: 3px;
    color: #aaa;
    font-size: 13px;
    font-weight: 500;
}

.main_event .swiper-arrow {
    display: flex;
    align-items: center;
    top: 33px;
    /* z-index: 40; */
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #e1e2e3;
    border-radius: 50%;
}

.main_event .swiper-arrow:after {
    display: none;
}

.main_event .swiper-arrow svg {
    width: 1em;
    height: 1em;
    margin: 0 auto;
}

.main_event .swiper-button-prev {
    left: 0;
}

.main_event .swiper-button-next {
    right: 0;
}

.job_info {
    padding: 60px 0 80px;
    margin-top: 260px;
}

.job_info .title_section {
    margin-bottom: 30px;
}

.job_info .title_section h3 {
    color: #333;
    font-size: 22px;
    text-align: center;
}

.job_info>ul {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ececec;
}

.job_info>ul>li {
    width: 25%;
    border-right: 1px solid #ececec;
    text-align: center;
}

.job_info>ul>li p.job_icon {
    padding-top: 18px;
}

.job_info>ul>li p.icon_name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 6px 8px;
    color: #171717;
    font-size: 16px;
    font-weight: 600;
}

.job_info>ul>li p.icon_name>span {
    display: flex;
    align-items: center;
}